.ash-footer-bg {
    background-color: #AAA
}


/* Schriftart für das Menü definieren */
.menu-font {
    font-family: 'MyriadPro', sans-serif;
}

/* Menü-Stil anpassen */
.menu-style {
    background-color: #f0f0f0; /* Hintergrundfarbe des Menüs */
    color: #333; /* Schriftfarbe */
}

/* Zusätzliche Schriftart-Definition */
@font-face {
    font-family: 'MyriadPro';
    src: url('/fonts/MYRIADPRO-REGULAR.woff2') format('woff2'),
         url('/fonts/MYRIADPRO-REGULAR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
