name: Deploy Hugo site to IONOS via SFTP

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Install Hugo
        run: |
          HUGO_VERSION=$(curl -s https://api.github.com/repos/gohugoio/hugo/releases/latest | grep 'tag_name' | cut -d '"' -f 4 | sed 's/^v//')
          HUGO_TARFILE="hugo_extended_${HUGO_VERSION}_Linux-64bit.tar.gz"
          HUGO_URL="https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/${HUGO_TARFILE}"
          wget -O hugo.tar.gz $HUGO_URL
          tar -xzvf hugo.tar.gz
          mv hugo /usr/local/bin/hugo

      - name: Build with Hugo
        run: hugo --minify
        
      - name: Deploy to IONOS via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "public/*"
          target: "/httpdocs"  # Replace with your IONOS web root path
          debug: true


      - name: Clean up
        if: always()
        run: rm -f hugo.tar.gz

