name:  Deploy to prod

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    name:  Build and Deploy Hugo site
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.120.4

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install Core Utilities
        run: sudo apt-get update && sudo apt-get install -y coreutils

      - name: Setup Hugo
        run: |
          wget -O hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i hugo.deb

      - name: Install Dart Sass Embedded
        run: sudo snap install dart-sass-embedded

      - name: Install Node.js dependencies
        run: '[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true'

      - name: Prepare SSH Key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > /tmp/private_key
          chmod 600 /tmp/private_key

      - name: Install Rclone
        run: curl https://rclone.org/install.sh | sudo bash

      - name: Build with Hugo
        run: hugo
        
      - name: Deploy with Rclone (fixed)
        run: |
          echo "${RCLONE_CONFIG}" > rclone.conf  # This line is no longer needed (optional)
          rclone sync --config rclone.conf --verbose public/ :sftp:var/www/app --sftp-path-override "/var/www/app/" -v /tmp/private_key
